{{ define "main" }}
{{ partial "page-heading" . }}
{{ .Content }}
<div class="flex justify-between">
    {{ if .Prev }}

    <div class="flex items-center">
        <svg class="fill-stone-900" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
            width="20px" fill="#e8eaed">
            <path d="m330-444 201 201-51 51-288-288 288-288 51 51-201 201h438v72H330Z" />
        </svg>
        <a class="ml-1" href="{{ .Prev.RelPermalink }}">{{ .Prev.Title }}</a>
    </div>

    {{ end }}
    {{ if .Next }}

    <div class="flex items-center">
        <a class="mr-1 text-right" href="{{ .Next.RelPermalink }}">{{ .Next.Title }}</a>
        <svg class="fill-stone-900" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
            width="20px" fill="#e8eaed">
            <path d="M630-444H192v-72h438L429-717l51-51 288 288-288 288-51-51 201-201Z" />
        </svg>
    </div>

    {{ end }}

</div>
{{ end }}