{{ if .Title }}
<div class="my-12 md:my-16">


    {{ with .Parent }}

    {{ partial "back-to" . }}

    {{ end }}

    <h1 class="!mb-2">{{ .Title }}</h1>

    {{ if .Date }}
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <div class="flex flex-wrap items-baseline">
        <time class="text-lg mr-4" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
    {{ else }}
    <div class="sm:flex sm:space-x-4 sm:items-baseline">
        {{ partial "terms" (dict "taxonomy" "tags" "page" .) }}
    </div>
    {{ end }}

</div>
{{ end }}