{{ $paginator := . }}

{{ if eq .Type "tags" }}
{{ $paginator = .Paginate .Pages }}
{{ else }}
{{ $paginator = .Paginate ( union .Sections .RegularPages ).ByDate.Reverse }}
{{ end }}

<div>
    <div class="divide-y divide-stone-500">
        {{ range $paginator.Pages }}
        {{ partial "post.html" . }}
        {{ end }}
    </div>

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}

    <div class="not-prose flex items-baseline justify-center space-x-4">
        {{ if $paginator.HasPrev }}
        <a href="{{ $paginator.Prev.URL}}">Previous</a>
        {{ end }}


        {{ range $index, $pager := $paginator.Pagers }}
        {{ if eq .PageNumber $paginator.PageNumber }}
        <div class="text-xl font-black"> {{ $pager.PageNumber }}</div>
        {{ else }}
        <a class="text-xl" href="{{ $pager.URL }}"> {{ $pager.PageNumber }}</a>
        {{ end }}
        {{ end }}

        {{ if $paginator.HasNext }}
        <a href="{{ $paginator.Next.URL }}">Next</a>
        {{ end }}
    </div>

    {{ end }}
</div>